html {
    font-size: 17px;
}

header {
    text-align: center;
}

.website_logo {
    height: 7rem;
}

/* *********** login section ******* */
header section {
    flex: 1;
}

header section {
    text-align: right;
    color: #dd1144;
}

/* **** error login **** */

p.error_login {
    padding: 1rem;
    background-color: palegreen;
}

/* ******** body styling ****** */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    background-image: url("../images/bg.png");
    background-attachment: fixed;
}

.column_container section h3 {
    font-family: "Comic Sans", "Comic Sans MS", cursive;
}

h1 {
    color: lightsalmon;
    font-family: sans-serif;
}

/* **** Nav ********************* */

nav ul {
    display: flex;
    display: -ms-flexbox; /* IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    color: lightsalmon;
    text-decoration: none;
    padding: 0.1rem;
    margin: 0.2rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

nav a:hover {
    text-decoration: underline;
    background-color: lawngreen;
    color: white;
}

nav a.current_page {
    background-color: lawngreen;
    color: white;
    font-style: italic;
}

nav li {
    flex: 1;
    -ms-flex: 1;
}

/* *********** Homepage image height ******* */
.homepageImage {
    height: 12rem;
}

/* *********** footer styling ******* */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    padding: 0.4rem;
    text-align: center;
    background-color: lawngreen;
}

/* ********** table links ******** */

th a {
    text-decoration: none;
    color: darkgreen;
}

th a:hover {
    color: salmon;
}

/* ********** layout - rules for multi-column display **** */
.column_container {
    display: flex;
    border: 0.2rem solid lightseagreen;
}
.column_container aside	{
    padding: 1rem;
}
.column_container section {
    flex: 1;
    padding: 1rem;
    border: 0.1rem solid lightseagreen;
}

.column_container section a {
    color: salmon;
    font-style: italic;
    text-decoration: none;
}

.column_container aside h3 {
    color: lavender;
}

.column_container aside img {
    width: 10rem;
}

aside	{
    width: 10rem;
    background-color: lightsalmon;
}

/* ********** Giving content a margin for search box ******** */
.content {
    margin-right: 17rem;
}

/* *************** search results page ***************** */

.search {
    text-decoration: none;
    color: salmon;
}

.search:hover {
    color: lawngreen;
    background-color: lightsalmon;
    cursor: pointer;
}

.search_box {
    position: absolute;
    right: 2rem;
}

.product_text {
    position: relative;
    top: -221px;
    left: 300px;
    margin-right: 310px;
}

.product {
    text-decoration: none;
    color: darkgreen;
}

.product:hover {
    color: salmon;
    cursor:pointer;
}

.search_results {
    padding-top: 4rem;
}

/** styling to widen an element to 100%
 * used in the textarea in addCategory.html.twig
 **/
.width_fill {
    width: 100%;
}

/* ********** add/edit product/category form styling ******** */
table.adminChange th {
    text-align: right;
}

table.adminChange td {
    width: 70%;
}

/* ********** table images(when displaying products and categories) ******** */
table img{
    width: 300px;
    display: flex;
}