html {
    font-size: 17px;
}

header {
    text-align: center;
}

/* *********** login section ******* */
header section {
    flex: 1;
}

header section {
    text-align: right;
    color: #dd1144;
}

/* **** error login **** */

p.error_login {
    padding: 1rem;
    background-color: palegreen;
}

/* ******** body styling ****** */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
}

h1 {
    color: lightsalmon;
    font-family: sans-serif;
}

/* **** Nav ********************* */

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    color: lightsalmon;
    text-decoration: none;
    padding: 0.1rem;
    margin: 0.2rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

nav a:hover {
    text-decoration: underline;
    background-color: lawngreen;
    color: white;
}

nav a.current_page {
    background-color: lawngreen;
    color: white;
    font-style: italic;
}

nav li {
    flex: 1;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 10px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: lawngreen;
}

/* ********** table links ******** */

th a {
    text-decoration: none;
    color: darkgreen;
}

th a:hover {
    color: salmon;
}

/* ********** layout - rules for multi-column display **** */
.column_container {
    display: flex;
    border: 0.2rem solid lightseagreen;
}
.column_container aside	{
    padding: 1rem;
}
.column_container section {
    padding: 1rem;
    border: 0.1rem solid lightseagreen;
}
aside	{
    width: 10rem;
    background-color: lightsalmon;
}
    /* ******** the main section will take the remaining available space **** */

.column_container section {
    flex: 1;
    padding-bottom: 4rem;
}

/* *************** search results page ***************** */

span.search {
    text-decoration: none;
    color: salmon;
}

span.search:hover {
    color: lawngreen;
    background-color: lightsalmon;
    cursor: pointer;
}

.search_box {
    position: absolute;
    right: 2rem;
}

.product_text {
    position: relative;
    top: -221px;
    left: 300px;
    margin-right: 310px;
}

.product {
    text-decoration: none;
    color: darkgreen;
}

.product:hover {
    color: salmon;
    cursor:pointer;
}