{# *********** templates/admin.html.twig ********** #}

{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
   {{ title }}
{% endblock %}

{# ----------------------------------------#}
{% block adminIndexNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h1>Hello, I am the Admin page of this site</h1>
{% endblock %}
