{# *********** templates/index.html.twig ********** #}

{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    {{ title }}
{% endblock %}

{# ----------------------------------------#}
{% block indexNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h1>You have successfully logged in and you are now visiting the Admin page of this site</h1>
    <p>
        Select the corresponding Admin navigation tab to facilitate you with making the required changes
    </p>
{% endblock %}
