{# *********** templates/_base.html.twig ********** #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KBK - {% block title %}{% endblock %}</title>
    <style>
        @import "/css/style.css";
    </style>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body onload="{% block bodyScripts %}{% endblock %}resizeLogo();" onresize="resizeLogo()">

<header>
    <a href="/"><img class="website_logo" id="website_logo" src="/images/website_logo_text.png" alt="logo"></a>

    <!-- ******login/logout section******** -->
    <section>
        {% if username %}
            you are logged in as: {{ username }}
            <br>
            <a href="/logout">logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </section>
</header>
<!-- **********NAV bar************* -->
<nav>
    <ul>
        <li>
            <a href="/" class="{% block indexNavStyle %}{% endblock %}">Guide Me Home</a>
        </li>
        <li>
            <a href="/menu" class="{% block menuNavStyle %}{% endblock %}">Our Menu</a>
        </li>
        <li>
            <a href="/about" class="{% block aboutNavStyle %}{% endblock %}">More About Us</a>
        </li>
        <li>
            <a href="/contact" class="{% block contactNavStyle %}{% endblock %}">Contact Us</a>
        </li>

        {# ************** secure links only showing if logged in successfully ******* #}
        {% if username %}
            <li>
                <a href="/adminChangeCategory" class="{% block adminCategoryNavStyle %}{% endblock %}">Change Categories</a>
            </li>
            <li>
                <a href="/adminChangeProductSelectCategory" class="{% block adminProductNavStyle %}{% endblock %}">Change Products</a>
            </li>
            <li>
                <a href="/adminSearch?keywords=&search_type=new" class="{% block adminSearchNavStyle %}{% endblock %}">Search Products</a>
            </li>
        {% endif %}

    </ul>
</nav>

<hr/>

<!-- ************* DIV column container *************** -->
<div class="column_container">

<!-- **************** left hand side column *********** -->
    <aside>
        <h3>
            We believe in good food
        </h3>
        <p>
            At KBK we encourage the use of fine ingredients and organic, non GMO products.
        </p>
        <p>
            <img src="/images/organic.jpg" alt="picture of organic farming">
        </p>
        <p>
            By eating vegetarian food you make a big commitment to a better world!
        </p>
        <p>
            <img src="/images/organic_farming_logo.jpg" alt="picture of EU organic logo">
        </p>
        <p>
            We invest in our staff ongoing training and are proud of being able to retain our chefs for the last 10 years!
            This helped us build our good reputation and will continue to do so...
        </p>
        <img src="/images/chefs.jpg" alt="picture of chefs">
    </aside>
<!-- ************** main section of the page ********** -->
    <section>
        {% block main %}
        {% endblock %}
    </section>
</div>
<script src="/js/resizeLogo.js"></script>
<footer>
    2016 &copy; KBK Food Company Ltd.
</footer>
</body>
</html>