<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KBK - {% block title %}{% endblock %}</title>
    <style>
        @import "/css/style.css";
    </style>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body onload="changeImageTimer()">

<header>
    <a href="/"><img src="/images/website_logo_text.png" alt="logo"></a>

    <!-- ******login/logout section******** -->
    <section class="login_section">
        {% if username %}
            you are logged in as: {{ username }}
            <br>
            <a href="/logout">logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </section>
</header>
<!-- **********NAV bar************* -->
<nav>
    <ul>
        <li>
            <a href="/" class="{% block indexNavStyle %}{% endblock %}">Home page</a>
        </li>
        <li>
            <a href="/menu" class="{% block menuNavStyle %}{% endblock %}">Menu Categories</a>
        </li>
        <li>
            <a href="/about" class="{% block aboutNavStyle %}{% endblock %}">About page</a>
        </li>
        <li>
            <a href="/contact" class="{% block contactNavStyle %}{% endblock %}">Contact page</a>
        </li>

        {# ************** secure links only showing if logged in successfully ******* #}
        {% if username %}
        <li>
            <a href="/adminCodes" class="{% block adminIndexNavStyle %}{% endblock %}">Admin</a>
        </li>
        {% endif %}

    </ul>
</nav>

<hr/>

<!-- ************* DIV column container *************** -->
<div class="column_container">

<!-- **************** left hand side column *********** -->
    <aside>

    </aside>
<!-- ************** main section of the page ********** -->
    <section>
        {% block main %}
        {% endblock %}
    </section>
</div>
<footer>
    2015 &copy; KBK Food Company Ltd.
</footer>
</body>
</html>
