{# *********** templates/about.html.twig ********** #}
{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
  {{ title }}
{% endblock %}

{# ----------------------------------------#}
{% block aboutNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
<h1>
    Who are we?
</h1>
<hr>
<p>
    We are a take away vegetarian restaurant established in 1999 and our main goal is to deliver quality fast food at competitive prices and to retain and expand our loyal customers year by year.
</p>
<h1>
    Our philosophy
</h1>
<p>
    Looking at the current climate and the climate changes in the last few decades, we cannot afford to allow the livestock industry to progress at the current pace.
</p>
<p>
    We need to change and think plant based diet. This was why we decided to come on the market with an exciting range of vegetarian burgers which are 100% plant based.
</p>
<p>
    With every meal you have from us, you should be assured that you made your contribution to reducing the emission of greenhouse gases for a better world!
</p>
<hr>
<p>
    <strong>We love our planet, we love vegetarian food!</strong>
</p>
{% endblock %}
