{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    {{ title }}
{% endblock %}

{# ----------------------------------------#}
{% block menuNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <div class="search_box">
        <p>Search</p>
        <form name="searchForm" method="get" action="/search">
            <input type="text" name="search" size="25" maxlength="30" placeholder="Search KBK products" value="{{ searchQuery }}" />
            <input type="submit" name="submit" value="Search" />
        </form>
    </div>
    <h1>Search results for "{{ searchQuery }}"</h1>
    <br>
       {{ results|raw }}
{% endblock %}
